.hero-body {
    display: flex;
    align-items: flex-start; 
    justify-content: space-around;
    height: 100vh;
    padding: 4%;
    background-color: ghostwhite;
    max-width:1400px;
    
}

.hero-body select {
    padding:  1rem 1rem; 
    height: auto;
    line-height: normal;
    border-radius: 10px;
    text-align: left;
    font-size: 15px;
    color: blue;
}
