.hero-body {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between;
    height: 100vh;
    padding: 2%;
    background-color: ghostwhite;
}

.searchWrapper {
    margin-left: 7%;
    position: relative;
}

.searchWrapper input {
    margin: 0; 
    padding: 1rem 1rem; /* Use rem for better scaling */
    width: 150%; /* Adjust width to be percentage based */
    font-size: 13px;
    height: auto; /* Ensure height adjusts with padding */
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.searchWrapper input[placeholder] {
    text-align: center;
    font-size: 1rem; 
    color: black;
    background-color: white;
}

.searchWrapper input:focus {
    box-shadow: 2px 4px 8px rgba(207, 208, 209, 0.5);
    background-color: white;
    border: none;
}

.searchWrapper button {
    margin-top: 2%; /* Adjust the button's margin for responsiveness */
    text-align: center;
    background-color: white;
    border: none;
    position: absolute;
    border-radius: 100%;
    top: 40%; /* Vertically center the button */
    left: 5%; /* Adjust position from the left */
    transform: translateY(-40%); /* Center vertically */
    padding: 2px;
}

.searchWrapper button:hover {
    border-bottom: 2px solid gainsboro;
    cursor: pointer;
    background-color: white;
}

.searchWrapper img {
    width: 1.9rem; /* Use rem for scaling images */
    height: 1.8rem;
}

.hero-body select {
    margin-right: 8%; /* Use percentage for margin */
    padding:  1rem 2rem; 
    height: auto;
    line-height: normal;
    border-radius: 10px;
    font-size: 15px;
}
