.searchWrapper {
    text-align: center;
    margin-left: 0;
    position: relative;
    max-width: 320px;
    height: 60px;
}

.searchInputContainer {
    position: relative;
    width: 100%;
    max-width: 500px; 
}

.searchInputContainer input {
    width: 310px; 
    padding: 0.8rem 3rem 0.8rem 1rem;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.searchInputContainer input::placeholder {
    text-align: center; 
}

.searchInputContainer input:focus {
    outline: none;
    box-shadow: 2px 4px 8px rgba(207, 208, 209, 0.5);
}

.searchInputContainer button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

.searchInputContainer button:hover {
    cursor: pointer;
    border-radius: 100%;
    border-bottom: 1px solid gainsboro;
}

.searchInputContainer button img {
    width: 19px;
    height: 20px;
}


.output-wrapper {
    margin-top: 4rem;  
    width: 100%;  
    margin: 0 auto;  
}

.output {
    text-align: left;
}

.output p, .output h2 {
    margin: 0.5rem 0;
}

.country-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 380px;
    border: 1px solid red;   
}

.country-details img {
    margin-right: 40px;
    width: 400px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.country-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;  
    width: 600px;

}
.country-info-one{
    padding: 0;
    width: 270px;
    height: 240px;
    margin: 0;
}
.country-info-two {
    margin-top: 0px;
    width: 170px;
    height: 107px;
    padding: 0;
}
.button-countries{
    max-width: 200px;
    border: 1px solid pink;
    display: inline;
}
.border-countries button{
    width: 65px;
    height: 20px;
    margin: 5px;
    text-align: center;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
}