.searchWrapper {
    margin-left: 7%;
    position: relative;
}

.searchWrapper input {
    margin: 0; 
    padding: 1rem 1rem; 
    width: 150%;
    font-size: 13px;
    height: auto;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.searchWrapper input[placeholder] {
    text-align: center;
    font-size: 1rem; 
    color: black;
    background-color: white;
}

.searchWrapper input:focus {
    box-shadow: 2px 4px 8px rgba(207, 208, 209, 0.5);
    background-color: white;
    border: none;
}

.searchWrapper button {
    margin-top: 2%; 
    text-align: center;
    background-color: white;
    border: none;
    position: absolute;
    border-radius: 100%;
    top: 40%; 
    left: 5%; 
    transform: translateY(-40%); 
    padding: 2px;
}

.searchWrapper button:hover {
    border-bottom: 2px solid gainsboro;
    cursor: pointer;
    background-color: white;
}

.searchWrapper img {
    width: 1.9rem; 
    height: 1.8rem;
}