.hero-body select {
    padding:  0.7rem 0.7rem; 
    height: 45px;
    width:190px;
    line-height: normal;
    border-radius: 9px;
    text-align: center;
    font-size: 0.9rem;
    color: black;
}
